{% extends "base.html" %}
{% block title %}
    Bosh sahifa
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
            <div class="row">
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">Bugungi savdo</p>
                    <h3 class="rate-percentage">{{todays_sells}}</h3>
                    {% if farq >= 100 %}
                      <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>{{farq}}%</span></p>
                    {% else %}
                    <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>{{farq}}%</span></p>
                    {% endif %}
                  </div>
                  <div>
                    <p class="statistics-title">Bugungi tushum</p>
                    <h3 class="rate-percentage">{{bugungi_tushum.amount__sum}}so'm</h3>
                    {% if tushum_farq >= 100 %}
                    <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>{{tushum_farq}}%</span></p>
                    {% else %}
                    <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>{{tushum_farq}}%</span></p>
                    {% endif %}
                  </div>
                  <div>
                    <p class="statistics-title">New Sessions</p>
                    <h3 class="rate-percentage">68.8</h3>
                    <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Avg. Time on Site</p>
                    <h3 class="rate-percentage">2m:35s</h3>
                    <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">New Sessions</p>
                    <h3 class="rate-percentage">68.8</h3>
                    <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Avg. Time on Site</p>
                    <h3 class="rate-percentage">2m:35s</h3>
                    <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-lg-8 d-flex flex-column">
                
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Pending Requests</h4>
                               <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p>
                              </div>
                              <div>
                                <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped mt-2">
                                <thead>
                                  <tr>
                                    <th>
                                      T/r
                                    </th>
                                    <th>
                                      Mijoz
                                    </th>
                                    <th>
                                      Kelgan vaqti
                                    </th>
                                    <th>
                                      Savdo turi
                                    </th>
                                    <th>
                                      Qiymati
                                    </th>
                                    <th>
                                      Mahsulotlar soni
                                    </th>
                                    <th>
                                      Ekshin
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for i in customers  %}
                                  <tr>
                                    <td class="py-1" >
                                      {{forloop.counter}}
                                    </td>
                                    <td class="py-1">
                                      {{i.name}}
                                    </td>
                                    <td>
                                      {{i.datetime}}
                                    </td>
                                    <td>
                                      {{i.get_type_of_trade_display}}
                                    </td>
                                    <td>
                                      {{i.amount}}
                                    </td>
                                    <td>
                                      {{i.selledproduct_set.all.count}}
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{forloop.counter}}">
                                            Ma'lumotlar
                                        </button>
                    
                    
                                    </td>
                                  <tr>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{i.name}}ning qarz ma'lumotlari</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <form method="post">
                                              <div class="modal-body"> 
                                                <div class="modal-arrived_products">
                                                  <h3> Ro'yhat </h3>
                                                  <ul class=" container row list-group list-group-horizontal">
                                                    <li class=" col-1 list-group-item"><b>No</b></li>
                                                    <li class=" col-4 list-group-item"><b>Mahsulot</b></li>
                                                    <li class=" col-4 list-group-item"><b>Miqdor</b></li>
                                                    <li class=" col-3 list-group-item"><b>Umumiy narxi</b></li>
                                                  </ul>
                                                  {% for a in i.selledproduct_set.all %}
                                                      <ul class=" container row list-group list-group-horizontal">
                                                        <li class=" col-1 list-group-item">{{ forloop.counter }}</li>
                                                        <li class=" col-4 list-group-item">{{a.product.name}}</li>
                                                        <li class=" col-4 list-group-item"> {{a.quantity}}  {{a.product.type_of_measurement}}</li>
                                                        <li class=" col-3 list-group-item">{% widthratio a.quantity 1 a.product.actual_price %}</li>
                                                        </ul>
                                                  {% endfor %}
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                  {% endfor %}
                                
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row flex-grow">
                  <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body card-rounded">
                        <h4 class="card-title  card-title-dash">Recent Events</h4>
                        <div class="list align-items-center border-bottom py-2">
                          <div class="wrapper w-100">
                            <p class="mb-2 font-weight-medium">
                              Change in Directors
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <i class="mdi mdi-calendar text-muted me-1"></i>
                                <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="list align-items-center border-bottom py-2">
                          <div class="wrapper w-100">
                            <p class="mb-2 font-weight-medium">
                              Other Events
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <i class="mdi mdi-calendar text-muted me-1"></i>
                                <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="list align-items-center border-bottom py-2">
                          <div class="wrapper w-100">
                            <p class="mb-2 font-weight-medium">
                              Quarterly Report
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <i class="mdi mdi-calendar text-muted me-1"></i>
                                <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="list align-items-center border-bottom py-2">
                          <div class="wrapper w-100">
                            <p class="mb-2 font-weight-medium">
                                Change in Directors
                              </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="mdi mdi-calendar text-muted me-1"></i>
                                  <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="list align-items-center pt-3">
                            <div class="wrapper w-100">
                              <p class="mb-0">
                                <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="card-title card-title-dash">Activities</h4>
                            <p class="mb-0">20 finished, 5 remaining</p>
                          </div>
                          <ul class="bullet-line-list">
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                <p>Just now</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Jack William</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                <p>1h</p>
                              </div>
                            </li>
                          </ul>
                          <div class="list align-items-center pt-3">
                            <div class="wrapper w-100">
                              <p class="mb-0">
                                <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="d-flex justify-content-between align-items-center">
                              <h4 class="card-title card-title-dash">Qarzdorlar</h4>
                              <div class="add-items d-flex mb-0">
                                <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                <a href="{% url 'debt_customer_list' %}" class="add btn btn-icons btn-rounded btn-primary text-white me-0 pl-12p"><i class="mdi mdi-plus"></i></a>
                              </div>
                            </div>
                            <div class="list-wrapper">
                              <ul class="todo-list todo-list-rounded">
                               {% for i in debtcustomers %}
                                  {% if forloop.counter <= 5 %}
                                  <li class="d-block">
                                    <div class="form-check w-100">
                                      <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> {{i.customer.name}} <i class="input-helper rounded"></i>
                                      </label>
                                      <div class="d-flex mt-2">
                                        <div class="ps-4 text-small me-3">{{i.created}}</div>
                                      </div>
                                    </div>
                                  </li>
                                  {% endif %}
                               {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                              <h4 class="card-title card-title-dash">Type By Amount</h4>
                            </div>
                            <canvas class="my-auto" id="doughnutChart" height="200">
                              <p id="number_of_debts">{{number_of_debts}}</p>
                              <p id="number_of_reals">{{number_of_reals}}</p>
                            </canvas>
                            <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                              <div>
                                <h4 class="card-title card-title-dash">Leave Report</h4>
                              </div>
                              <div>
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Month Wise </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <h6 class="dropdown-header">week Wise</h6>
                                    <a class="dropdown-item" href="#">Year Wise</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mt-3">
                              <canvas id="leaveReport"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
{% endblock content %}